.title-bar-container{
    display: flex;
    flex-flow: row;
    height: auto;
    width: 100%;
    padding: 2% 1%;
    justify-content: space-between;
    margin-bottom: 2%;
}

.branding-container{
    display: flex;
    width: auto;
    height: auto;
    white-space: nowrap;
    flex-direction: row;
    text-align: center;
    justify-content: start;
    align-items: baseline;
}

.logo{
    max-height: 5em;
    max-width: 5em;
    width:auto;
    height: auto;
}

.name{
    margin: auto;
    width: auto;
    height: auto;
    font-size: large;
}

.right-container{
    display: flex;
    height: auto;
    width: auto;
    float: end;
    position: relative;
}

@media (max-width: 800px){
    .title-bar-container{
        flex-flow: column wrap;
        align-items: stretch;
    }

    .right-container{
        display: flex;
        height: auto;
        width: auto;
        float: end;
        position: relative;
        align-self: center;
    }

    .branding-container{
        display: flex;
        width: auto;
        height: auto;
        white-space: nowrap;
        flex-direction: row;
        text-align: center;
        justify-content: center;
        align-self: center;
        align-items: baseline;
    }
}

