.SplashScreen-content{
    width: 60%;
    height: auto;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#SplashScreen-logo{
    width:auto;
    height:auto;
    max-width: 50%;
    max-height: 50%;
}

#SplashScreen-progress{
    width: 100%;
}

#SplashScreen-status{
    text-align: center;
    margin: auto;
    font-size: small;
}


